
body{
  font-family: 'Major Mono Display', monospace;
}

.scroller {
    /*height: 100vh;
    width: 100vw;*/
    width:1000px;
    height:1000px;
    padding:0 0;
    margin-left: auto;
    margin-right: auto;
}
#boxes {
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: auto;
    line-height: 8px;
    font-size: 10px;
}

#boxes i {
  width: 10px;
  height: 10px;
  border:solid 2px #181818;
  background-color: #455a4e;
  display: inline-block;
  z-index:1;
  margin: 0 0 !important;
  padding:0 0 !important;
}

#boxes i.r{
  width: 200px !important;
  height: 10px;
  display: inline-block;
  line-height: 10px !important;
  border-left:none !important;
  border-right:none !important;
  z-index:2 !important;
}

#boxes i.selected{
    opacity: 0.7;
}

#boxes i.selected {
    background: rgb(29, 123, 167);
}
#boxes i.selected.r, i.r {
    background: rgb(185, 183, 149) !important;
}
#boxes i.selected.s, i.s {
    background: red !important;
}

#c{
  position:absolute !important;
  width:200px !important;
  height:200px !important;
  margin-top:400px !important;
  margin-left:400px !important;
  z-index: 10 !important;
  padding: 0 0 !important;
  background-color: aqua !important;
  display: block !important;
  border:none !important;
}

@keyframes pulse {
    50% {
      background: #49b1f7;
    }
  }
  @-webkit-keyframes pulse {
    50% {
      background: #49b1f7;
    }
  }


.selected{
  animation: pulse 2s ease-in-out 1s infinite;
  -webkit-animation: pulse 2s ease-in-out 1s infinite;
}


/* Other */
#menu{
    position: absolute;
    top: 140px;
    left: 40px;
    background: white;
    padding: 1em;
    border-radius: 1em;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    width: 400px;
    font-weight:bold
  
}

#menu > ol {
  list-style-type: cjk-ideographic;
}

#buyPixels Button{
  border:2px solid orange;
  background-color: orange;
  color:#fff;
}
/*
.reset-button {
    position: absolute;
    top: 140px;
    left: 40px;
    background: white;
    padding: 1em;
    border-radius: 1em;
}
.priceUSD {
    position: absolute;
    top: 200px;
    left: 40px;
    background: white;
    padding: 1em;
    border-radius: 1em;
}
.priceETH {
    position: absolute;
    top: 260px;
    left: 40px;
    background: white;
    padding: 1em;
    border-radius: 1em;
}
.buyPixels {
    position: absolute;
    top: 320px;
    left: 40px;
    background: white;
    padding: 1em;
    border-radius: 1em;
}
.selectedPixels {
    position: absolute;
    top: 390px;
    left: 40px;
    background: white;
    padding: 1em;
    border-radius: 1em;
}*/

/*.ant-menu{
    display:none !important;
}*/

.ant-page-header{
  background-color: #111111;
  color:#ffffff;
}

@keyframes glitch{
  2%,64%{
    transform: translate(1px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-1px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.ant-page-header-heading-left{
  animation: glitch 1s linear infinite;
}

.ant-page-header-heading-left:before,
.ant-page-header-heading-left:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.ant-page-header-heading-left:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(3px,-3px);
  }
  4%,60%{
    transform: translate(-3px,3px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.ant-page-header-heading-left:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-3px,0);
  }
  4%,60%{
    transform: translate(-3px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.ant-page-header, 
.ant-page-header-heading-title,
.ant-page-header-heading-sub-title {
  color:#ffffff
}