body{
  font-family: 'Major Mono Display', monospace;
  background-color: #111111;
  margin: 0;
  overflow: hidden;
}

.App {
  text-align: center;
}

.Content {
  position: relative;
  overflow: scroll;
  height: calc(100vh - 72px);
}

.contentGlitch{
  animation: glitch 4s linear infinite;
}

/**
* HEADER
*/
.pageHeader {
  background: url('./assets/logo_header.png') no-repeat;
  background-size: 50px;
  background-position: 12px 12px;
  padding-left: 74px;
}

.pageHeader:hover .ant-page-header-heading-title, 
.pageHeader:hover .ant-page-header-heading-sub-title {
  color: #f58420;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.header a {
  color: #fff;
}
.header a:hover {
  color: #f58420;
}

.Account {
  padding-right: 20px;
}

#headerConnect {
  animation: pulse 2s ease-in-out 1s infinite;
  -webkit-animation: pulse 2s ease-in-out 1s infinite;
  transition: background-color,transform 200ms;
  font-family: 'Major Mono Display', monospace;
  vertical-align: "top";
  margin-left: 8px;
  margin-top: 4px;
  border-radius: 0;
}

#headerConnect:hover {
  background: #f58420;
  color: #fff;
  border-color: #fff;
}

.menuConnect {
  font-family: 'Major Mono Display', monospace;
  transition: transform 200ms;
}
.menuConnect:hover {
  transform: scale(1.2);
}

/**
* PIXEL FIELD
*/
.scroller {
    /*height: 100vh;
    width: 100vw;*/
    width:1000px;
    height:1000px;
    padding:0 0;
    margin-left: auto;
    margin-right: auto;
}
#boxes {
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* background: url('./assets/grid.png') no-repeat; */
    background: url('./assets/block.png') repeat;
    background-size: 10px;
    transform-origin: 0px 0px;
}

/*
 "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all"
  */

.ds-selector{
  background-color: #f58420 !important;
  opacity: 0.8;
  border:solid 2px #181818 !important;
  z-index:3 !important
}

@keyframes pulse {
  50% {
    opacity:0.8;
  }
}

#selectedArea {
  border: solid 2px transparent;
  position: absolute;
  z-index: 120;
}

#selectedArea div {
  background-color: #f58420;
  opacity: 0.95;
  height: 100%;
  width: 100%;
  animation: pulse 2s ease-in-out 1s infinite;
}

@keyframes pump_small {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
#pendingArea {
  position: absolute;
  background: darkgreen;
  animation: pump_small 400ms infinite;
}

#center {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 400px;
  left: 400px;
  z-index: 110;
  background: url('./assets/block.png') repeat;
  background-size: 10px;
}
.flip-box {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-box.isToggled .flip-box-inner,
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 12px;
  display: flex;
  align-items: center;
}
.flip-box-front {
  background: url('./assets/pepe500.png'), url('./assets/block_white.png');
  background-size: contain, 10px;
  background-repeat: no-repeat, repeat;
}
.flip-box-back {
  background-color: #8ebf42;
  transform: rotateY(180deg);
}


/**
  OVERLAYS
**/
#Overlays {
  opacity: 1;
  transition: opacity 200ms;
  user-select: none; /* to avoid text selection when drawing box */
}

#Overlays.hovering {
  opacity: 0.1;
}

/**
  MENU
**/
#menu {
  top: 110px;
  left: 40px;
  position: fixed;
  padding: 30px 30px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  width: 350px;
  height: 400px;
  background: url('./assets/menu.png');
  background-size: contain;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 800ms;
  overflow: hidden;
  cursor: pointer;
}

#yourPixelsMenu {
  position: fixed;
  top: 92px;
  left: 140px;
  margin-left: 0;
  height: 80px;
  width: 70px;
  display: flex;
  padding: 10px;
  align-items: center;
  opacity: 0.8;
  font-family: 'Roboto Slab', serif;
  background: url('./assets/menu.png');
  background-repeat: no-repeat;
  background-size:cover;
  color: #000;
}

.isHidden {
  display: hidden;
}

#menu.isToggled {
  top: 92px;
  left: 40px;
  margin-left: 0;
  height: 80px;
  width: 70px;
  display: flex;
  padding: 10px;
  align-items: center;
  opacity: 0.8;
  font-family: 'Roboto Slab', monospace;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 30px;
  width: 30px;
  background: url('./assets/close.png');
}

@media only screen and (max-width: 700px) {
  #menu {
    top: 92px;
    margin-left: -200px;
    left: 50%;
    width: 400px;
    height: 350px;
    background: url('./assets/menu_mobile.png') no-repeat;
    background-size: contain;
  }

  #menu.isToggled {
    height: 70px;
    width: 80px;
  }
}

#menu > ol {
  list-style-type: none;
  padding-left: 20px;
}

#menu > ol li::before {
  content: "";  
  color: red; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 10px; /* Also needed for space (tweak if needed) */
  line-height:10px;
  height:10px;
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  margin-right:10px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#menu > ol li:nth-child(1)::before{
  background-color:aqua;
}
#menu > ol li:nth-child(2)::before{
  background-color:green;
  transform: rotate(45deg);
}
#menu > ol li:nth-child(3)::before{
  background-color:blue;
}
#menu > ol li:nth-child(4)::before{
  background-color:red;
  animation: spin 800ms linear infinite;

}

#priceETH{
  margin-left:20px;
}

#buyPixels Button{
  border:2px solid #f58420;
  background-color: #f58420;
  color:#fff;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:20px;
}

.main_box:hover {
  cursor: pointer;
}

/**
* Images
*/
/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
  
}

.upload-list-inline .ant-upload-list-item::after {
  background-color: #FFBA10;
  border-color: black;
  border-style: dotted;
  content: attr(data-c)
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}

.ant-upload, 
.ant-upload-list-item a,
.ant-upload-list-item-card-actions .anticon{
  color:#fff !important;
}



/**
  HEADER
**/

.p{
  position:absolute;
  z-index:2;
  width:10px;
  height:10px;
}

.sold, .own{
  border:none;
  z-index: 200; /* on top of selected area */
}

.sold{
  background-color: #e22d54;
}
.own{
  background-color: #20f592;
}

.headerLinks {
  display: flex;
  align-items: center;
}

#discord {
  background: url("./assets/discord.png") no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  display: inline-block;
  color: transparent;
  overflow: hidden;
}

#twitter {
  background: url("./assets/twitter.png") no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  display: inline-block;
  color: transparent;
  overflow: hidden;
}

/*.ant-menu{
    display:none !important;
}*/

.ant-page-header{
  background-color: #111111;
  color:#ffffff;
}

@keyframes glitch{
  2%,64%{
    transform: translate(1px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-1px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.ant-page-header-heading-left{
  animation: glitch 1s linear infinite;
}

.ant-page-header-heading-left:before,
.ant-page-header-heading-left:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.ant-page-header-heading-left:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(3px,-3px);
  }
  4%,60%{
    transform: translate(-3px,3px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.ant-page-header-heading-left:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-3px,0);
  }
  4%,60%{
    transform: translate(-3px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.ant-page-header, 
.ant-page-header-heading-title,
.ant-page-header-heading-sub-title {
  color:#ffffff
}

.hoverme i {
  position: absolute;
  display: block;
  margin-left: 30%;
  margin-top: 0;
  width: 5px;
  height: 10px;
  background: red;
  opacity: 0;
}

.hoverme:hover i:nth-of-type(1) {
  transform: translate3d(60px, 3px, 0) rotate(90deg);
  background: #00f7ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(2) {
  transform: translate3d(-23px, -49px, 0) rotate(45deg);
  background: #ff00b7;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(3) {
  transform: translate3d(-97px, 27px, 0) rotate(342deg);
  background: #6fff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(4) {
  transform: translate3d(15px, 33px, 0) rotate(84deg);
  background: #00ff91;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(5) {
  transform: translate3d(-5px, -89px, 0) rotate(299deg);
  background: #9500ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(6) {
  transform: translate3d(-43px, 6px, 0) rotate(232deg);
  background: #ff00a2;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(7) {
  transform: translate3d(3px, 94px, 0) rotate(217deg);
  background: #7b00ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(8) {
  transform: translate3d(41px, 62px, 0) rotate(93deg);
  background: #2bff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(9) {
  transform: translate3d(14px, -97px, 0) rotate(151deg);
  background: #00ff1e;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(10) {
  transform: translate3d(75px, -52px, 0) rotate(244deg);
  background: #00ff84;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(11) {
  transform: translate3d(36px, 16px, 0) rotate(300deg);
  background: #c400ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(12) {
  transform: translate3d(-63px, 63px, 0) rotate(344deg);
  background: #ff00cc;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(13) {
  transform: translate3d(-83px, 85px, 0) rotate(255deg);
  background: #0037ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(14) {
  transform: translate3d(47px, -93px, 0) rotate(259deg);
  background: #04ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(15) {
  transform: translate3d(85px, 8px, 0) rotate(190deg);
  background: #ff00bb;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(16) {
  transform: translate3d(29px, -82px, 0) rotate(262deg);
  background: #ff00a2;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(17) {
  transform: translate3d(-71px, 30px, 0) rotate(174deg);
  background: #00b7ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(18) {
  transform: translate3d(6px, 89px, 0) rotate(240deg);
  background: #ffd500;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(19) {
  transform: translate3d(-65px, 22px, 0) rotate(244deg);
  background: #00ffc8;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(20) {
  transform: translate3d(-96px, 36px, 0) rotate(52deg);
  background: #ff6f00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(21) {
  transform: translate3d(28px, 18px, 0) rotate(250deg);
  background: #51ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(22) {
  transform: translate3d(-21px, 95px, 0) rotate(195deg);
  background: #00ff37;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(23) {
  transform: translate3d(68px, -26px, 0) rotate(287deg);
  background: #ff3c00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(24) {
  transform: translate3d(-21px, -72px, 0) rotate(173deg);
  background: #ffd000;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(25) {
  transform: translate3d(12px, -1px, 0) rotate(129deg);
  background: #00ff26;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(26) {
  transform: translate3d(55px, -93px, 0) rotate(281deg);
  background: #ff0033;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(27) {
  transform: translate3d(45px, -3px, 0) rotate(138deg);
  background: #ff4800;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(28) {
  transform: translate3d(-17px, 88px, 0) rotate(210deg);
  background: #aaff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(29) {
  transform: translate3d(-10px, -70px, 0) rotate(240deg);
  background: #00ffe6;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(30) {
  transform: translate3d(16px, -96px, 0) rotate(185deg);
  background: #00aeff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(31) {
  transform: translate3d(-24px, -47px, 0) rotate(194deg);
  background: #0011ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(32) {
  transform: translate3d(-51px, -22px, 0) rotate(4deg);
  background: #ffe600;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(33) {
  transform: translate3d(-30px, -86px, 0) rotate(347deg);
  background: #b7ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(34) {
  transform: translate3d(-4px, -16px, 0) rotate(12deg);
  background: #00ffdd;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(35) {
  transform: translate3d(-28px, 45px, 0) rotate(116deg);
  background: #00fffb;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(36) {
  transform: translate3d(-74px, -78px, 0) rotate(218deg);
  background: #00ff40;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(37) {
  transform: translate3d(-60px, 86px, 0) rotate(340deg);
  background: #3c00ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(38) {
  transform: translate3d(-5px, -75px, 0) rotate(27deg);
  background: #9100ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(39) {
  transform: translate3d(-56px, -27px, 0) rotate(38deg);
  background: #c800ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(40) {
  transform: translate3d(90px, -96px, 0) rotate(271deg);
  background: #00a2ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(41) {
  transform: translate3d(90px, -40px, 0) rotate(173deg);
  background: #ff7700;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(42) {
  transform: translate3d(22px, -64px, 0) rotate(102deg);
  background: #ff5900;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(43) {
  transform: translate3d(40px, -61px, 0) rotate(266deg);
  background: #00ccff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(44) {
  transform: translate3d(-30px, 64px, 0) rotate(338deg);
  background: #11ff00;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(45) {
  transform: translate3d(38px, -6px, 0) rotate(273deg);
  background: #ff8400;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(46) {
  transform: translate3d(36px, -40px, 0) rotate(219deg);
  background: #00ffae;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(47) {
  transform: translate3d(9px, 96px, 0) rotate(287deg);
  background: #ff002f;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(48) {
  transform: translate3d(-43px, 14px, 0) rotate(22deg);
  background: #00ff2f;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(49) {
  transform: translate3d(-20px, -28px, 0) rotate(292deg);
  background: #00a2ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}
.hoverme:hover i:nth-of-type(50) {
  transform: translate3d(89px, 70px, 0) rotate(72deg);
  background: #0040ff;
  animation: bang 700ms ease-out forwards;
  opacity: 0;
}

@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Countdown */
.countdown {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #fff;
  padding: 5px 10px;
  opacity: 0.8;
}
@media only screen and (max-width: 700px) {
  .countdown-blocks {
    display: none;
  }
}
.zoomLevel {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: white;
  opacity: 0.8;
}
.zoomLevel span {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
}
.zoomLevel span:hover {
  background: orange;
}

.buy {
  background: white;
  font-family: 'Roboto Slab', serif;
  padding: 12px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
}

/* Buy Button */
.box-outer {
	overflow: hidden;
	margin: 10px auto;
	width: 290px;
	height: 71px;
}
.main_box {
	width: 290px;
	height: 71px;
	position: relative;
	background: #f58420;
	border: 5px solid white;
  text-align: center;
  color: white;
  padding: 9px 5px;
}
.bar {
	position: absolute;
	width: 50px;
	height: 5px;
	background: #20f592;
	transition: all 1s linear;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}
.bar.delay {
	animation-delay: 0.5s;
}
.top {
	top: -5px;
	left: -5px;
}
.right {
	top: 18px;
	right: -28px;
	transform: rotate(90deg);
}
.bottom {
	bottom: -5px;
	left: -5px;
}
.left {
	top: 18px;
	left: -28px;
	transform: rotate(90deg);
}
@keyframes h-move {
  0% {
    left: -5px;
  }
  100% {
    left: 290px;
  }
}
.top, .bottom {
	animation-name: h-move;
}
@keyframes v-move {
  0% {
    top: -5px;
  }
  100% {
    top: 68px;
  }
}
.right, .left {
	animation-name: v-move;
}

.links {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'Roboto Slab', serif;
  padding: 10px 20px;
  color: gray;
}
.links a {
  color: gray;
}

.textPage {
  font-family: 'Roboto Slab', serif;
  color: white;
  max-width: 800px;
  height: calc(100vh - 72px);
  overflow: scroll;
  padding: 20px;
  margin: 40px auto;
}

.textPage h1,
.textPage h2 {
  color: white;
  font-family: 'Major Mono Display', monospace;
}

.faq {
  text-align: left;
}
/* ant-collapse dark theme */
.ant-collapse{box-sizing:border-box;margin:0;padding:0;color:rgba(255,255,255,.85);font-size:14px;font-variant:tabular-nums;line-height:1.5715;list-style:none;font-feature-settings:'tnum';background-color:rgba(255,255,255,.04);border:1px solid #6f6c6c;border-bottom:0;border-radius:4px}.ant-collapse>.ant-collapse-item{border-bottom:1px solid #6f6c6c}.ant-collapse>.ant-collapse-item:last-child,.ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header{border-radius:0 0 4px 4px}.ant-collapse>.ant-collapse-item>.ant-collapse-header{position:relative;padding:12px 16px 12px 40px;color:rgba(255,255,255,.85);line-height:1.5715;cursor:pointer;transition:all .3s}.ant-collapse>.ant-collapse-item>.ant-collapse-header::before{display:table;content:''}.ant-collapse>.ant-collapse-item>.ant-collapse-header::after{display:table;clear:both;content:''}.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow{padding:0;color:#f58420;font-style:normal;line-height:0;text-align:center;text-transform:none;vertical-align:-.125em;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;position:absolute;top:50%;left:16px;display:inline-block;font-size:12px;transform:translateY(-50%)}.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow>*{line-height:1}.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow-icon{display:block}.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow svg{transition:transform .24s}.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-extra{float:right}.ant-collapse>.ant-collapse-item>.ant-collapse-header:focus,.ant-rate-star>div:focus{outline:0}.ant-collapse>.ant-collapse-item.ant-collapse-no-arrow>.ant-collapse-header{padding-left:12px}.ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header{padding:12px 40px 12px 16px}.ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow{right:16px;left:auto}.ant-collapse-anim-active{transition:height .2s cubic-bezier(.215,.61,.355,1)}.ant-collapse-content{overflow:hidden;color:rgba(255,255,255,.85);background-color:#212121;border-top:1px solid #6f6c6c}.ant-collapse-content>.ant-collapse-content-box{padding:16px}.ant-collapse-content-inactive{display:none}.ant-collapse-item:last-child>.ant-collapse-content{border-radius:0 0 4px 4px}.ant-collapse-borderless{background-color:rgba(255,255,255,.04);border:0}.ant-collapse-borderless>.ant-collapse-item{border-bottom:1px solid #6f6c6c}.ant-collapse-borderless>.ant-collapse-item:last-child,.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header{border-radius:0}.ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content,.ant-collapse-ghost>.ant-collapse-item>.ant-collapse-content{background-color:transparent;border-top:0}.ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{padding-top:4px}.ant-collapse-ghost{background-color:transparent;border:0}.ant-collapse-ghost>.ant-collapse-item{border-bottom:0}.ant-collapse-ghost>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{padding-top:12px;padding-bottom:12px}.ant-collapse .ant-collapse-item-disabled>.ant-collapse-header,.ant-collapse .ant-collapse-item-disabled>.ant-collapse-header>.arrow,.ant-picker-header button{color:rgba(255,255,255,.3);cursor:not-allowed}.ant-collapse-rtl{direction:rtl}.ant-collapse-rtl .ant-collapse>.ant-collapse-item>.ant-collapse-header{padding:12px 40px 12px 16px}.ant-collapse-rtl.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow svg{transform:rotate(180deg)}.ant-collapse-rtl.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-extra{float:left}.ant-collapse-rtl.ant-collapse>.ant-collapse-item.ant-collapse-no-arrow>.ant-collapse-header{padding-right:12px;padding-left:0}

.ant-collapse{
  border-radius: 0;
}

.textBlock {
  border: 1px solid #6f6c6c;
  background-color: rgba(255,255,255,.04);
  color: rgba(255,255,255,.85);
  padding: 12px 16px;
}

.textBlock ul {
  text-align: left;
}

.walletKey {
  vertical-align: middle;
  padding-left: 5px;
  font-size: 28px;
}

/* MOBILE */
@media only screen and (max-width: 700px) {
  .ant-page-header {
    height: 72px;
  }
  .walletKey {
    font-size: 20px;
    padding-right: 10px;
  }
  .identicon,
  .anticon-wallet,
  .ant-page-header-heading-left,
  .ant-page-header-heading-sub-title {
    display: none;
  }
}

/* Link to a specific pixel */
@keyframes reduce {
  0% {
    transform: scale(200);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pump {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
#linked {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
}
#linked div {
  position: absolute;
  width: 10px;
  height: 10px;
}
.linked5 {
  animation: reduce 800ms ease-out;
  background: green;
}
.linked4 {
  animation: reduce 800ms 200ms ease-out;
  background: blue;
}
.linked3 {
  animation: reduce 800ms 400ms ease-out;
  background: yellow;
}
.linked4 {
  animation: reduce 800ms 600ms ease-out;
  background: pink;
}
.linked1 {
  animation: pump 400ms 600ms linear infinite;
  background: green;
}

/* .selectedPixel {
  position: absolute;
  width: 6px;
  height: 6px;
  margin: 2px;
  animation: pump 400ms linear infinite;
  background: white
} */

.connected {
  margin: 10px 0;
}

.ds-selector {
  display: none;
}

.walletConfirm {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}