body{
  font-family: 'Major Mono Display', monospace;
  background-color: #111111;
  margin: 0;
  overflow: hidden;
}

.App {
  text-align: center;
}

.Account {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 201;
  padding: 14px;
}

.Content {
  position: relative;
  overflow: scroll;
  height: calc(100vh - 72px);
  animation: glitch 4s linear infinite;
}

/**
* HEADER
*/
#headerConnect,
#menuConnect{
  animation: pulse 2s ease-in-out 1s infinite;
  -webkit-animation: pulse 2s ease-in-out 1s infinite;
  font-family: 'Major Mono Display', monospace !important;
  font-weight:bold !important;
  vertical-align: "top";
  margin-left: 8px;
  margin-top: 4px;
  background-color:'#f58420';
  border:'none';
  border-radius:0;
}

#headerConnect{
  margin-left:0px;
  margin-right:20px;
}

/**
* PIXEL FIELD
*/
.scroller {
    /*height: 100vh;
    width: 100vw;*/
    width:1000px;
    height:1000px;
    padding:0 0;
    margin-left: auto;
    margin-right: auto;
}
#boxes {
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url('./assets/grid.png') no-repeat;
    transform-origin: 0px 0px;
}

/*
 "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all"
  */

.ds-selector{
  background-color: #f58420 !important;
  opacity: 0.8;
  border:solid 2px #181818 !important;
  z-index:3 !important
}

@keyframes pulse {
  50% {
    opacity:0.8;
  }
}

#selectedArea {
  border: solid 2px transparent;
  position: absolute;
  z-index: 100;
}

#selectedArea div {
  background-color: #f58420;
  height: 100%;
  width: 100%;
  animation: pulse 2s ease-in-out 1s infinite;
}

#c{
  position:absolute !important;
  width:200px !important;
  height:200px !important;
  top:400px !important;
  left:400px !important;
  z-index: 110 !important;
  padding: 0 0 !important;
  background: url('./assets/pepe200.jpg') no-repeat !important;
  display: block !important;
  border:none !important;
}


/**
  OVERLAYS
**/
#Overlays {
  opacity: 1;
  transition: opacity 200ms;
  user-select: none; /* to avoid text selection when drawing box */
}

#Overlays.hovering {
  opacity: 0.1;
}

/**
  MENU
**/
#menu {
  position: fixed;
  top: 140px;
  left: 40px;
  padding: 30px 30px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  width: 350px;
  height: 400px;
  background: url('./assets/menu.png') no-repeat;
  color: #000; 
}

#menu > ol {
  list-style-type: none;
  padding-left: 20px;
}

#menu > ol li::before {
  content: "";  
  color: red; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 10px; /* Also needed for space (tweak if needed) */
  line-height:10px;
  height:10px;
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  margin-right:10px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#menu > ol li:nth-child(1)::before{
  background-color:aqua;
}
#menu > ol li:nth-child(2)::before{
  background-color:green;
  transform: rotate(45deg);
}
#menu > ol li:nth-child(3)::before{
  background-color:blue;
}
#menu > ol li:nth-child(4)::before{
  background-color:red;
  animation: spin 800ms linear infinite;

}

#priceETH{
  margin-left:20px;
}

#buyPixels Button{
  border:2px solid orange;
  background-color: orange;
  color:#fff;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:20px;
}

/**
  HEADER
**/

.p{
  position:absolute;
  z-index:2;
  width:10px;
  height:10px;
}

.sold, .own{
  border:none;
  z-index: 200; /* on top of selected area */
  animation: pulse 2s ease-in-out 1s infinite;
  -webkit-animation: pulse 2s ease-in-out 1s infinite;
}

.sold{
  background-color: #e22d54;
}
.own{
  background-color: #20f592;
}


/*.ant-menu{
    display:none !important;
}*/

.ant-page-header{
  background-color: #111111;
  color:#ffffff;
}

@keyframes glitch{
  2%,64%{
    transform: translate(1px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-1px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.ant-page-header-heading-left{
  animation: glitch 1s linear infinite;
}

.ant-page-header-heading-left:before,
.ant-page-header-heading-left:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.ant-page-header-heading-left:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(3px,-3px);
  }
  4%,60%{
    transform: translate(-3px,3px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.ant-page-header-heading-left:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-3px,0);
  }
  4%,60%{
    transform: translate(-3px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.ant-page-header, 
.ant-page-header-heading-title,
.ant-page-header-heading-sub-title {
  color:#ffffff
}

/* Countdown */
.countdown {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: white;
  padding: 5px 10px;
}